* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--white);
    text-shadow: var(--text-outline);
    font-family: "Pixelify Sans";
}

ol, ul {
    padding: 0px 16px;
}

li {
    color: var(--primary-outline);
    text-shadow: none;
}

body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: url("../img/background-tile.png") repeat scroll 0 0;
}

#container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 750px;
    align-items: center;
    justify-content: center;
}

#banner {
    display: flex;
    width: 100%;
    border: var(--outline);
    box-shadow: var(--shadow);
}

#banner-img {
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    width: 100%;
    box-shadow: var(--shadow);
}

.nav-button {
    flex: 1;
    display: flex;
    gap: 4px;
    align-items: center;
    text-align: left;
    padding: 3px 6px;
    background-color: var(--primary);
    border: var(--outline);
    margin-right: -2px;
    cursor: pointer;
    box-shadow: var(--emboss);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    > span {
        font-size: 10px;
        text-shadow: none;
        color: var(--primary-dark);
    }
} .nav-button:hover, label:hover {
    background-color: var(--primary-light);
} .nav-button:active label:active {
    background-color: var(--white-alpha);
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 6px;
}

.partition-h {
    flex: 1;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 6px;
} .partition-v {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: var(--white);
    border: var(--outline);
    padding: 4px;
    box-shadow: var(--shadow);
    max-height: 500px;
}

.card-header {
    display: flex;
    gap: 4px;
}

.card-img-box {
    aspect-ratio: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-title {
    text-transform: uppercase;
    width: 100%;
    padding: 3px 6px;
    background-color: var(--primary);
    border: var(--outline);
    box-shadow: var(--deshadow-emboss);
}

.card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--primary-light);
    border: var(--outline);
    box-shadow: var(--deshadow-deboss);
    overflow-y: scroll;
    gap: 6px;
}

.card-txt {
    color: var(--primary-outline);
    text-shadow: none;
}

b {
    color: var(--secondary-verylight);
}

.email-link {
    text-decoration: underline;
    cursor: pointer;
    color: var(--secondary-verylight);
    text-shadow: var(--text-outline);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.form-inputs {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form-input {
    display: flex;
    width: 100%;
}

label {
    background-color: var(--primary);
    padding: 3px 6px;
    border: var(--outline);
    box-shadow: var(--emboss);
    margin-right: -2px;
    cursor: pointer;
}

input, select {
    flex: 1;
    width: 100%;
    border: var(--outline);
    box-shadow: var(--deboss);
    padding: 6px;
    background-color: var(--primary-verylight);
    color: var(--primary-outline);
    text-shadow: none;
} option {
    color: var(--primary-outline);
}

.submit-button {
    white-space: nowrap;
    /* overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20%; */
    background-color: var(--secondary);
    color: white;
    box-shadow: var(--shadow-emboss);
    cursor: pointer;
} .submit-button:hover {
    background-color: var(--secondary-light);
} .submit-button:active {
    background-color: var(--white-alpha);
}

header, footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3px 6px;
    background-color: var(--primary);
    border: var(--outline);
    box-shadow: var(--shadow-emboss);
}

.err-msg {
    display: flex;
    background-color: red;
    color: white;
    padding: 4px 8px;
    border: var(--outline);
    box-shadow: var(--shadow-emboss);
}

.dex-moves {
    margin-top: -2px;
    font-size: 14px;
    border: var(--outline);
    background-color: var(--secondary);
    color: white;
    box-shadow: var(--shadow-emboss);
    cursor: pointer;
    padding: 4px 8px;
}

.dex-types {
    font-size: 14px;
    margin-top: -2px;
    background-color: var(--primary);
    border: var(--outline);
    box-shadow: var(--emboss);
    cursor: pointer;
    padding: 4px 8px;
}

.dex-desc {
    padding: 10px;
    text-shadow: none;
    color: var(--primary-dark);
}

.battle-winner {
    font-size: 20px;
    text-align: center;
    padding: 16px 0px;
}

.arena-badge {
    font-size: 20px;
    margin-top: -2px;
    background-color: goldenrod;
    border: var(--outline);
    box-shadow: var(--shadow-emboss);
    padding: 16px;

    span {
        margin-left: 4px;
        color: var(--primary);
        font-size: 24px;
    }
}

.card-pokemon {
    display: flex;
    width: 100%;

    p {
        margin-right: -2px;
        flex: 1;
        font-size: 14px;
        border: var(--outline);
        background-color: var(--secondary);
        color: white;
        box-shadow: var(--shadow-emboss);
        cursor: pointer;
        padding: 4px 8px;
    }

    form {
        margin-right: -2px;
        width: auto;
        input {
            width: 100%;
            font-size: 14px;
            background-color: var(--primary);
            border: var(--outline);
            color: white;
            box-shadow: var(--shadow-emboss);
            cursor: pointer;
            padding: 4px 8px;
        }
    }
}

.pokedex {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow);
    overflow: hidden;
    border-radius: 5px;
}

.pokedex-top, .pokedex-bottom {
    display: flex;
    border-radius: 5px;
    background-color: var(--red);
    border: var(--outline);
}

.pokedex-top {
    box-shadow: var(--halflight-emboss);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: none;
    z-index: 1;
}

.pokedex-bottom {
    flex: 1;
    flex-direction: column;
    gap: 8px;
    box-shadow: var(--shadow-halfdark-emboss);
    padding: 8px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
}

.pokedex-top-left {
    display: flex;
    align-items: flex-start;
    padding: 8px 16px;
    padding-right: 24px;
    gap: 4px;
    border-right: var(--outline);
    border-bottom: var(--outline);
    box-shadow: var(--shadow-halfdark-emboss);
    border-bottom-right-radius: 60px;
}

.pokedex-top-right {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: -10px;
    gap: 4px;
    border-radius: 5px;
    overflow: hidden;
}

.pokedex-top-right-box {
    display: flex;
    border-bottom: var(--outline);
    box-shadow: var(--shadow-emboss);
    background-color: var(--red);
    padding: 16px;
    gap: 4px;
}


.pokedex-top-button {
    aspect-ratio: 1;
    border: var(--outline);
    box-shadow: var(--shadow-emboss);
    padding: 4px;
    border-radius: 32px;
}

.red { background-color: var(--red) }
.yellow { background-color: var(--yellow) }
.green { background-color: var(--green) }
.blue { background-color: var(--blue) }

.pokedex-lens {
    background-color: var(--white);
    padding: 4px;
    border: var(--outline);
    box-shadow: var(--shadow-emboss);
    border-radius: 32px;
}

.pokedex-lens-glass {
    background-color: var(--blue);
    aspect-ratio: 1;
    border: var(--outline);
    box-shadow: var(--shadow-emboss);
    padding: 16px;
    border-radius: 32px;
}

.pokedex-screen {
    display: flex;
    flex-direction: column;
    padding: 12px;
    background-color: var(--gray);
    width: 100%;
    border: var(--outline);
    box-shadow: var(--shadow-emboss);
    border-radius: 8px;
    border-bottom-left-radius: 24px;
    gap: 8px;
}

.pokedex-screen-content {
    display: flex;
    background-color: var(--black);
    padding: 8px;
    border: var(--outline);
    box-shadow: var(--deshadow-deboss);
    border-radius: 4px;
}

.pokedex-screen-buttons {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    gap: 12px;
}

.pokedex-screen-button {
    background-color: var(--red);
    aspect-ratio: 1;
    border: var(--outline);
    box-shadow: var(--shadow-emboss);
    border-radius: 32px;
    padding: 12px;
    cursor: pointer;
}

.pokedex-speaker {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 4px;
    width: 100%;
    max-width: 50px;
    hr {
        border: 1px solid black;
    }
}

.pokedex-buttons {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.pokedex-button {
    border: var(--outline);
    box-shadow: var(--shadow-emboss);
    padding: 16px;
    border-radius: 24px;
    aspect-ratio: 1;
    background-color: var(--dark-gray);
    cursor: pointer;
}

.pokedex-button-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 8px;
}

.pokedex-line-buttons {
    display: flex;
    width: 100%;
    gap: 4px;
}

.pokedex-line-button {
    width: 100%;
    height: 16px;
    border-radius: 4px;
    border: var(--outline);
    box-shadow: var(--shadow-emboss);
}

.pokedex-trackpad {
    background-color: var(--green);
    border: var(--outline);
    box-shadow: var(--deshadow-deboss);
    height: 50px;
    border-radius: 5px;
}

.pokedex-result {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: white;
}

.pokedex-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    padding-left: 12px;
    background-color: var(--primary);
    border: var(--outline);
    box-shadow: var(--shadow-emboss);
}

.pokedex-name {
    font-size: 20px;
}

.pokedex-type {
    background-color: var(--primary-light);
    padding: 3px 6px;
    border: var(--outline);
    box-shadow: var(--shadow-emboss);
}

.pokedex-body {
    display: flex;
    align-items: center;
    padding: 4px;
    border: var(--outline);
    box-shadow: var(--shadow-emboss);
    margin-top: -2px;
}

.pokedex-description {
    flex: 1;
    background-color: var(--secondary);
    padding: 3px 6px;
    border: var(--outline);
    box-shadow: var(--shadow-emboss);
}

.pokedex-moves {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--primary);
    border: var(--outline);
    box-shadow: var(--shadow-emboss);
    margin-top: -2px;
    padding: 6px;
    gap: 6px;
}

.pokedex-image {
    height: 100px;
}

.non-flex {
    flex: initial;
    flex-wrap: initial;
    width: initial;
    gap: initial;
}

.pokemon-record {
    display: flex;
    flex: 1;
}

.add-to-team-button, .free-button {
    background-color: var(--primary);
    border: var(--outline);
    box-shadow: var(--shadow-emboss);
    padding: 3px 6px;
    height: 100%;
}

.pokemon-name {
    flex: 1;
    background-color: var(--secondary);
    border: var(--outline);
    box-shadow: var(--shadow-emboss);
    padding: 3px 6px;
}